html{
    overflow-y: scroll;
}
.rootBody{
    /* background-color: #403f5a; */
    /* background-color: #bbe1fa */
}
.mainDiv{
    margin-top: 0;
    background-image: linear-gradient(55deg, rgba(255,0,0,0) 40%, rgba(255, 187, 145,1));

}
.mainRow{
    padding: 10px;
}
.tagCol{
    margin: 0 auto;
    border-right: 1px rgb(219, 219, 219) solid;

}
.mainContainer{
    padding: 50px 0px;
}
.eventsCol{
    /* background-color: #3f465a; */
    padding-right: 0;
}

.eventsDiv{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* background-color: yellow; */
}

/* Event Card Styles */
.eventCard{
    flex: 1;
    /* box-shadow: 0 10px 40px -25px; */
    width: 280px;
    /* height: 400px; */
    margin: 5px 40px 40px;
    /* background-color: #393e46; */
    box-shadow: 0 10px 20px -8px;
}
.eventH2{
    font-size: 1.1rem;
    color: #6b6b6b;
    width: 280px;
    margin: 0 40px;
    visibility: visible;
}
.cardImg{
    height: 240px;
    object-fit: cover;
    /* background-color: #3f465a; */
    /* border: 1px #2a2f3c solid; */

}
.cardBody{

}
.eventCard > .cardBody{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s, opacity 0.5s, height 0.2s linear;
}
.cardTitle{
    text-align: center;
    height: 50px;
    color: white;
    padding: 10px;
}
.cardDesc{
    /* display: none; */
    color: #c0c0c0;
    padding: 10px 20px;
}
.eventCard:hover > .eventH2{
    /* visibility: hidden; */
    color: green;
}
.eventCard:hover > .cardBody{
    visibility: visible;
    opacity: 1;
    color: black;
    height: 110px;
}

/* Tag Area Styles */
.tagDiv{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-end;

}
.tagTitle{
    font-size: 1.1rem;
    text-align: right;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    color: grey;
}
.tagTitle:before{
    content: "";
    display: block;
    margin: 0 auto 15px;
    width: 180%;
    /* color: red; */
    border-top: 1px rgb(219, 219, 219) solid;
}
.tagHR{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    width: 60%;
}
.tagButton{
    margin: 5px 10px;
    width: 156px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    line-height: 20px;
    /* padding: 5px; */
    text-align: right;
    font-family: 'Comfortaa', cursive;
    color: grey;
    border: 1px white solid;
}
.tagButton:focus{
    outline: 0;
}
.tagButton:hover{
    border: 1px grey solid;
    color: black;
}
.selectedTag{
    background-color: #393e46;
    color: white;
}
.selectedTag:hover{
    color: grey;
}
.notSelectedTag{
    background-color: rgb(255, 255, 255);
}